<div *ngIf="post"  class="ui comments" style="padding-left:0.5em;margin-bottom:0.0em;">
            <div class="comment">
                <a class="avatar">
                    <img  src="/assets/img/avatar/me.jpg">
                </a>
                <div class="content ">
                <a class="author">Sebastian Horwege</a>
                <div class="text">{{post.location()}}</div>
                


                </div>
            </div>
</div>
        <div class="ui">
          <div class="module module--horizontal">
			<div glidejs id="CarouselPost" class="glide">
        <!-- glider repeat for images--> 
				<div class="glide__wrapper">
					<ul class="glide__track">
                        <ng-container *ngFor="let postContent of post.displayVars()">
                        <imagesentry *ngIf="postContent.type=='IMGS'" [postImages]="postContent"></imagesentry>
                        <mapentry *ngIf="postContent.type=='MAP'" [postMap]="postContent"></mapentry>
                        </ng-container>
					</ul>
				</div>
        <!-- show only, when multiple images -->
        <div class="glide__bullets"></div>

			</div>
		</div>
        </div>
        <div class="ui comments" style="padding-left:10px;">
            <div class="comment">
                <div class="content">
                    <div class="metadata">
                            <i (click)="setLike()" *ngIf="!iLikePost" class="grey big empty heart icon"></i>
                            <i (click)="setDisLike()" *ngIf="iLikePost" class="grey big heart icon"></i>
                    </div>
                </div>
                <div class="content">
                    

                    <span class="author">{{likesCount}} Likes</span>
               
                    <div class="extra text" Markdown>   {{post.body()}}         </div>
                </div>
                <div class="metadata">
                    <span class="reply">
                        <basti-date [timestamp]="post.created()"></basti-date>
                        <ng-container *ngIf="post.taken() != -1">
                            (<basti-date [timestamp]="post.taken()"></basti-date>)  
                        </ng-container>
                    </span>
                </div>
                
            </div>
        </div>