<!-- MENU -->
<div class="ui fixed menu centered grid">
    <div class="one wide mobile one wide tablet one wide computer column" [routerLink]="['/']" style="cursor:pointer;">
        
        <img src="/assets/img/logo.svg" type="image/svg+xml" style="cursor:pointer;" />
            <!-- <img src="yourfallback.jpg" /> -->
        
         
    </div>

    <div class="five wide mobile three wide tablet three wide computer column ">
        <object data="/assets/img/bastigram.svg" type="image/svg+xml">
            <!-- <img src="yourfallback.jpg" /> -->
        </object>
    </div>

    <div class="six wide computer only column">
        <search></search>
 
    </div>
 
    <div class=" three wide computer nine wide  mobile nine wide tablet  column "> 
                <!-- <i class="grey big empty compass icon"></i> -->
                <a href="/row/my-likes/date">
                <i class="grey big empty heart icon"></i>
                </a>
                <a href="/row/all/date">
                <i class="grey big grid layout icon"></i>
                </a>

                <a href="/map">
                    <i class="grey big map outline icon"></i>
                    </a>
          
    </div>
    
</div>

