<!-- MENU -->
<div class="ui fixed menu centered grid">
    <div class="center aligned column">
        <a href="/">
        <object data="/assets/img/logo.svg" type="image/svg+xml">
            <!-- <img src="yourfallback.jpg" /> -->
        </object>
        </a>
    </div>

    <div class="center aligned column ">
        <object data="/assets/img/bastigram.svg" type="image/svg+xml">
            <!-- <img src="yourfallback.jpg" /> -->
        </object>
    </div>
    <div class="center aligned column "> </div>
    <div class="center aligned column ">
        <search></search>
 
    </div>

    <div class="center aligned three wide column "></div>

    <div class="center aligned three wide column  "> 
                <i class="grey big empty compass icon"></i>
                <i class="grey big empty heart icon"></i>
                <i class="grey big empty user icon"></i>
          
    </div>
    
</div>
