

<div infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="1000"
            (scrolled)="onScroll()">


    <div class="ui centered grid" style="padding-top:150px">
        <div class="center aligned column" style="flex: 0 0 600px;">
            <div *ngFor="let post of posts"  class="ui left aligned segment"  style="padding-left:0px;padding-right:0px;">
                <div bigimage [post]="post"> </div>
            </div>
        </div>
    </div>

</div>
 